.bg-sky {
  background-color: #D5E4FA;
  border-color: transparent;
}
.bg-purple {
  background-color: #E5D6FB;
  border-color: transparent;
}
.bg-pink {
  background-color: #FBD3F5;
  border-color: transparent;
}
.bg-ornage {
  background-color: #FFC5C5;
  border-color: transparent;
}
.bg-yellow {
  background-color: #FFDFC3;
  border-color: transparent;
}